.popup__button_type_close {
    position: absolute;
    background: url('../../../../img/style/close-button.svg');
    background-color: transparent;
    background-position: center;
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    margin: 0;
    padding: 0;
}

.popup__button_type_close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 767px) {
    .popup__button_type_close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}