.popup__container {
    position: relative;
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}