.form__info_type_intro {
    width: 358px;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 48px auto;
    padding: 0;
}

@media (max-width: 767px) {
    .form__info_type_intro {
        width: 238px;
    }
}