.popup__form {
    display: flex;
    flex-direction: column;
    width: 430px;
    border-radius: 10%;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 767px) {
    .popup__form {
        width: 282px;
    }
}