.form__info {
    width: 358px;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 30px auto;
    padding: 0 0 13px 0;
}
/* убираю жирную стрёмную обводку */
.form__info:focus {
    outline: none;
}

@media (max-width: 767px) {
    .form__info {
        width: 238px;
    }
}