.element__image {
    object-fit: cover;
    width: 282px;
    height: 282px;
    object-position: center;
}

.element__image:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: opacity 0.3s linear;
}