.profile__avatar {
    position: relative;
}

.profile__avatar:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../../../img/style/edit-button.svg');
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}