.profile__intro {
    font-size: 18px;
    font-weight: normal;
    line-height: auto;
    color: white;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .profile__intro {
        font-size: 14px;
    }
}