.popup__form {
    display: flex;
    flex-direction: column;
    width: 430px;
    border-radius: 10%;
    padding: 0 0 0 36px;
}

@media (max-width: 767px) {
    .popup__form {
        width: 282px;
        padding-left: 22px;
    }
}