.profile__info {
    max-width: 336px;
    display: grid;
    align-items: center;
    grid-template-areas:
        "name button"
        "intro intro";
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto 0 30px;
    padding: 0;
}

@media (max-width: 767px) {
    .profile__info {
        max-width: 282px;
        margin: 26px auto 0;
    }
}