.element {
    width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    position: relative;
}