.element__like-button {
    min-width: 22px;
    height: 19px;
    background: transparent url(../../../img/style/like.svg) center center no-repeat;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

.element__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s linear;
}